* {
  margin: 0;
}

body {
  -webkit-user-drag: none;
  user-select: none;
  font-size: 16px;
}

button {
  color: white;
  padding: 0.5rem;
  font-weight: bold;
  text-shadow: 2px;
  border: none;
  cursor: pointer;
}

#grid-container {
  display: grid;
  border: 10px solid black;
  grid-template-columns: repeat(20, 50px);
  grid-template-rows: repeat(20, 50px);
  width: min-content;
  height: min-content;
}

#grid-container > * {
  border: 2px solid black;
}

#buttons {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  top: 1rem;
  right: 1rem;
}

#step-button {
  background-color: blue;
}

#step-button:hover {
  background-color: darkblue;
}

#clear-button {
  background-color: orange;
}

#clear-button:hover {
  background-color: darkorange;
}

.stop-button {
  background-color: crimson;
}

.stop-button:hover {
  background-color: darkred;
}

.start-button {
  background-color: green;
}

.start-button:hover {
  background-color: darkgreen;
}

.dead-item {
  background-color: white;
}

.alive-item {
  background-color: black;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.grid-item:hover {
  background-color: gray;
}
